
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image:
    linear-gradient(to bottom, rgba(122, 4, 122, 0.792), rgba(128, 3, 128, 0.66)),
    url('../../public/images/background/background.jpg');
    background-attachment: fixed;
    min-height: 500px;
    background-position: center;
    background-size: cover;
}